#logo {
    width: 272px;
    height: 92px;
    margin: auto;
    display: block;
    position: relative;
    top: 115px;
}

#searchbar {
    width: 50%; 
    display: block;
    margin: auto;
    position: relative;
    top: 145px;
    font-size: 18px;
    line-height: 40px;
    border-radius: 20px;
    border:1px solid #b8b8b8;
    text-indent: 25px;
    /* box-shadow: 0px 2px 6px 1px #888888; */
}

button {
    position: relative;
    top: 170px;
    height: 36px;
    width: 130px;
    padding-left: 0px;
    padding-right: 0px;
    border: 0px;
    border-radius: 5px;
    font-size: 14px;
    justify-self: center;
}

#container {
    width: 25%;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
}
