body {
    margin: 0px;
}

a {
    text-decoration: none;
}

#container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1.3fr 2fr 1.3fr;
    grid-template-rows: 50px 1fr .8fr 50px;
    grid-template-areas: 
        "head_left head_center head_right"
        "upper_body_left upper_body_center upper_body_right"
        "lower_body lower_body lower_body"
        "foot_left foot_center foot_right";
}

#left_header {
    grid-area: head_left;
    padding-left: 23px;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    grid-gap: 10px;
    /* justify-self: start; */
}

#right_header {
    padding-top: 20px;
    grid-area: head_right;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    justify-self: end;
    grid-gap: 10px;
    padding-right: 20px;  
}

#search_area {    
    justify-self: center;
    align-self: center;
    grid-area: upper_body_center;
    display: grid;
    grid-template-rows: 5fr 2.3fr 1.5fr;
    grid-gap: 15px;

}

#search_buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    height: 30px;
    width: 300px;
    justify-self: center;
}

#logo {
    width: 272px;
    height: 92px;
    justify-self: center;
}


#searchbar {
    width: 500px; 
    font-size: 18px;
    line-height: 40px;
    border-radius: 20px; 
    border:1px solid #b8b8b8;
    text-indent: 25px;
}

#left_footer {
    grid-area: foot_left;
    align-self: center;
    padding-left: 23px;
    display: grid;
    grid-template-columns: .9fr .7fr 1fr;
    justify-self: left;
}

#right_footer {
    grid-area: foot_right;
    align-self: center;
    padding-right: 23px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    justify-self: right;
}